#work {
    .card {
        background-color: $lightBg;
        border-radius: 5%;

        i {
            font-size: 50px;
            color: $primaryColor;
        }

        transition: 0.5s;

        &:hover {
            box-shadow: 5px 5px 15px #ddd;
        }
    }
}